<div class="container">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-container">
        <i class="pi pi-user navbar-icon"></i>
        <a href="#rooms" class="navbar-link">ห้องพัก</a>
        <div class="navbar-logo">สุนทรวรรณ</div>
        <a href="#location" class="navbar-link">สถานที่ตั้ง</a>
        <a href="#contact" class="navbar-link">ติดต่อเรา</a>
      </div>
    </nav>
  
    <!-- Main Content -->
    <div class="main-content">
      <!-- รูปห้อง -->
      <div class="room-images">
        <div class="large-image">รูปห้อง</div>
        <div class="small-images">
          <div class="small-image">รูปห้อง</div>
          <div class="small-image">รูปห้อง</div>
        </div>
      </div>
  
      
      <!-- ข้อมูลการจอง -->
      <div class="booking-info">
          <label for="start-date">ตั้งแต่</label>
          <div class="card flex justify-content-center">
            <p-calendar [(ngModel)]="date1" />
        
            
        </div>
        <div class="date-picker">
          <label for="end-date">ถึง</label>
          <input id="end-date" type="text" placeholder="เลือกวันที่">
        </div>
        <div class="room-price">
          <label for="price">ราคาห้อง</label>
          <input id="price" type="text" placeholder="ระบุราคา" readonly>
        </div>
        <button class="booking-button">จอง</button>
      </div>
    </div>
  
    <!-- สิ่งอำนวยความสะดวก -->
    <div class="amenities">
      <span class="amenity">เครื่องปรับอากาศ</span>
      <span class="amenity">ห้องปลอดบุหรี่</span>
      <span class="amenity">ตู้เย็น</span>
      <span class="amenity">เตียงนอน</span>
      <span class="amenity">คีย์การ์ด</span>
    </div>
  </div>
  