<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap" rel="stylesheet">

<nav class="navbar">
  <div class="navbar-container">
    <i class="pi pi-user navbar-icon"></i>
    <a href="page1" class="navbar-link">ห้องพัก</a>
    <div class="navbar-logo">สุนทรวรรณ</div>
    <a href="page2" class="navbar-link">สถานที่ตั้ง</a>
    <a href="page3" class="navbar-link">ติดต่อเรา</a>
  </div>
</nav>

<div class="flex align-items-center justify-content-center h-screen">
  <div class="shadow-2 border-round border-1 border-green-500 "  style="width: 1200px;">
    <p-card header="เลือกดูห้องพัก">
      <ng-template pTemplate="header">
        <!-- สามารถเพิ่มเนื้อหาสำหรับ header ได้ที่นี่ -->
      </ng-template>

      <!-- แสดงปุ่มทั้งหมด 30 ปุ่ม -->
      <div class="grid nested-grid">
        <div class="col-8">
          <div class="grid">

            <!-- แถวที่ 1 -->
            <div class="col-12 grid">
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="001" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="002" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="003" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="004" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="005" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="006" [rounded]="true" severity="secondary"></p-button>
              </div>
            </div>

            <!-- แถวที่ 2 -->
            <div class="col-12 grid">
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="007" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="008" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="009" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="010" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="011" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="012" [rounded]="true" severity="secondary"></p-button>
              </div>
            </div>

            <!-- แถวที่ 3 -->
            <div class="col-12 grid">
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="013" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="014" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="015" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="016" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="017" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="018" [rounded]="true" severity="secondary"></p-button>
              </div>
            </div>

            <!-- แถวที่ 4 -->
            <div class="col-12 grid">
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="019" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="020" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="021" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="022" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="023" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="024" [rounded]="true" severity="secondary"></p-button>
              </div>
            </div>

            <!-- แถวที่ 5 -->
            <div class="col-12 grid">
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="025" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="026" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="027" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="028" [rounded]="true" severity="secondary"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="029" [rounded]="true" severity="success"></p-button>
              </div>
              <div class="col-2 text-center p-3 border-round-sm font-bold">
                <p-button label="030" [rounded]="true" severity="secondary"></p-button>
              </div>
            </div>

          </div>
        </div>

        <!-- ส่วนแสดงรูปภาพทางด้านขวา -->
        <div class="col-4">
          <div class="grid">
            <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg"
              alt="Image 1" class="w-full border-round mb-2 image-style" style="height: 200px; object-fit: cover;">
              <p-button label="ดูห้องพัก" [rounded]="true" severity="secondary"></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>