<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>

  <header class="header"> 
      <a href="#" class="logo">logo</a>
        <nav class="navbar"> 
          <a href="#">หน้าหลัก</a>
          <a href="#">ห้องพัก</a>
          <a href="#">ที่ตั้ง</a>
          <a href="#">ติดต่อเรา</a>
        </nav>
      </header>
</body>
</html>