<div class="grid justify-content-center align-items-center">
    <div class="col-6">
        <div class="text-center p-3 font-bold">
            <div class="field">
                <h3>ติดต่อกลับ</h3>
                <div class="field flex flex-column align-items-start">
                    <label for="firstname1" class="mb-2">เบอร์โทร:</label>
                    <input id="firstname1" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field flex flex-column align-items-start">
                    <label for="lastname1" class="mb-2">ข้อความ:</label>
                    <input id="lastname1" type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="text-left font-bold">
            * สามารถติดต่อได้ 3 ช่องทาง <br>
            * ติดต่อเราได้ทั้งทางโทรศัพท์หรือทางอีเมล และโดยการส่งข้อความและรอการติดต่อกลับ
        </div>
    </div>
    <div class="col-6">
        <div class="text-center font-bold">
            <p-button label="ส่ง" severity="success"></p-button>
        </div>
    </div>
</div>
